---
import Example from '../components/test-component.jsx';
import MyMuiTab from '../components/test-mui-component.jsx';
// import MyDecanter from '../components/test-decanter-component.jsx';
---
<!doctype html>
<html lang="en">
	<head></head>
    <body>		
        <MyMuiTab client:load></MyMuiTab>
        <Example client:load></Example>
        <!-- <MyDecanter client:load></MyDecanter> -->
    </body>
</html>