---
import Container from '../components/Container.jsx'
const {frontmatter} = Astro.props;
---
<!doctype html>
<html lang="en">
  <!-- ... -->
  <!-- <script type="module" src="/path/to/bundled-react-component.js"></script> -->

  <head>
    <meta charset="utf-8">
  <!-- <link rel="stylesheet" type="text/css" href="/src/styles/styles.css"> -->
  <link href="/dist/css/decanter.css" rel="stylesheet">
	</head>
  <Container width="site">
    <h1 class="text-cardinal-red">{frontmatter.title}</h1>
    <h2 class="text-18">Post author: {frontmatter.author}</h2>
    <p>{frontmatter.description}</p>
    <slot /> <!-- Markdown content is injected here -->
     <!-- ... -->
  </Container>
</html>