---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script type="module" src="/src/dist/bundle.js" is:inline></script>
		<link rel="stylesheet" type="text/css" href="/src/styles/styles.css">
		<link rel="stylesheet" type="text/css" href="/dist/output.css">
		<title>{title}</title>
	</head>
	<body>		
		<slot />
	</body>
</html>